/* Code Block */
.code-box {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: #0d1117;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
}

.code-box pre {
    margin: 0;
    white-space: pre;
    color: #d4d4d4;
    font-family: Consolas, monospace;
}

.code-box code {
    font-family: inherit;
    color: inherit;
}

/* Tables */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #000;
    color: #fff;
    padding: 8px;
    text-align: left;
}

table td {
    padding: 8px;
    border: 1px solid #ccc;
}

.tag {
    color: #569cd6;
}

.text {
    color: #ce9178;
}